## Python Quest: The Data Wizard’s Challenges  
  
Welcome to the mystical realm of Pylandia, where you, the brave Data Wizard, are on a quest to bring order and insight to the chaotic land of data. Your journey will take you through four enchanted forests, each with its unique challenges. You must use your Python magic to conquer these tasks and uncover the secrets hidden within the data. Are you ready? Let’s begin!

### > Use only List Comprehensions, wherever possible

### I. Lists

### Challenge 1: The Enchanted School of Scores  
  
**Scenario:**  
  
You arrive at the Enchanted School, where the headmaster, Professor Algor, needs your help. The students' scores have been scattered across the magical blackboard, and it's your job to make sense of them.  
  
**Tasks:**  
  
- **Find the Highest Score:** Use your magic to reveal the student with the highest score.  
- **Calculate the Average Score:** Summon the average score to present to Professor Algor.  
- **Identify Top Performers:** The headmaster wants to reward students scoring above 80. Can you find these top performers?  
- **Sort Student Names:** The class list is in disarray. Sort the student names to restore order.  
  
**Bonus Task:**  
  
- **Find the Median Score:** The true balance of the class lies in the median score. Can you uncover it?

In [52]:
# Sample data

students = [
    {"name": "Alice", "score": 85},
    {"name": "Bob", "score": 78},
    {"name": "Charlie", "score": 92},
    {"name": "David", "score": 88},  
    {"name": "Eve", "score": 76}  ,
    {"name": "Even", "score": 79}
]  
threshold = 80

In [55]:
def highest_score(students):  
    return max([student['score'] for student in students])
  
def average_score(students):  
    return sum([student['score'] for student in students])/ len(students)
  
def top_performers(students, threshold):  
    return [(student['name'],student['score']) for student in students if student['score'] > threshold]
    
  
def sorted_names(students):  
    return sorted([student['name'] for student in students])
  
def median_score(students):  
    scores = sorted([student['score'] for student in students])
    if len(students) % 2 == 0:
        m1 = scores[len(students) // 2]
        m2 = scores[(len(students) // 2) + 1]
        return (m1 + m2)/2
    else:
        return scores[len(students) // 2]

print("Highest Score:", highest_score(students))  
print("Average Score:", average_score(students))  
print("Top Performers:", top_performers(students, threshold))  
print("Sorted Names:", sorted_names(students))  
print("Median Score:", median_score(students))

Highest Score: 92
Average Score: 83.0
Top Performers: [('Alice', 85), ('Charlie', 92), ('David', 88)]
Sorted Names: ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Even']
Median Score: 86.5

In [57]:
def highest_score(students):  
    scores = [student['score'] for student in students]
    return max(scores)
print("Highest Score:", highest_score(students))

Highest Score: 92

### Challenge 2: The Forest of Numbers  
  
**Scenario:**  
  
Venturing deeper into Pylandia, you find yourself in the Forest of Numbers. The forest spirits have tasked you with generating magical lists that will aid the villagers in their daily calculations.  
  
**Tasks:**  
  
- **Generate Squares:** Create a list of squares from 1 to 10.  
- **Generate Cubes:** Create a list of cubes from 1 to 10.  
  
**Bonus Task:**  
  
- **Combine Both Lists:** Merge the powers of squares and cubes into a single magical dictionary. 

```python
# Sample Output:
squares = [1, 4, 9, 16, 25]  
cubes = [1, 8, 27, 64, 125]  
combined = {1: (1, 1), 2: (4, 8), 3: (9, 27), 4: (16, 64), 5: (25, 125)}
```

In [ ]:
INPUT_HERE = -1 # Replace this with your logic

In [63]:
squares = [x**2 for x in range(10)]
cubes = [x**3 for x in range(10)]
combined = {i: (sqr_val, cub_val) for i, (sqr_val, cub_val) in enumerate(zip(squares, cubes),1)}
  
print("Squares:", squares)  
print("Cubes:", cubes)  
print("Combined:", combined)

Squares: [0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
Cubes: [0, 1, 8, 27, 64, 125, 216, 343, 512, 729]
Combined: {1: (0, 0), 2: (1, 1), 3: (4, 8), 4: (9, 27), 5: (16, 64), 6: (25, 125), 7: (36, 216), 8: (49, 343), 9: (64, 512), 10: (81, 729)}

In [19]:
[(square_v, cubes_v) for square_v, cubes_v in zip(squares,cubes) ]

[(0, 0),
 (1, 1),
 (4, 8),
 (9, 27),
 (16, 64),
 (25, 125),
 (36, 216),
 (49, 343),
 (64, 512),
 (81, 729)]

In [67]:
combined = {idx:(square_v, cubes_v) for idx, (square_v, cubes_v) in enumerate(zip(squares,cubes) ,1)}
combined

{1: (0, 0),
 2: (1, 1),
 3: (4, 8),
 4: (9, 27),
 5: (16, 64),
 6: (25, 125),
 7: (36, 216),
 8: (49, 343),
 9: (64, 512),
 10: (81, 729)}

### Challenge 3: The Valley of Positivity  
  
**Scenario:**  
  
As you traverse the Valley of Positivity, you encounter a group of merchants who are struggling to separate their profitable transactions from their losses. They need your help to filter out the negative values from their records.  
  
**Tasks:**  
  
- **Filter Positive Numbers:** Use your magic to create a list containing only the positive numbers from their transactions.  
  
**Bonus Task:**  
  
- **Count Positives and Negatives:** Provide the merchants with a count of their positive and negative transactions to help them better understand their finances.

In [27]:
# Sample data
numbers = [-10, 15, -20, 25, 30, -35, 40]

In [69]:
positive_numbers  = [p_num for p_num in numbers if p_num>0]
  
def count_positives_and_negatives(numbers):  
    negatives = sum([1 for num in numbers if num < 0])
    positives = sum([1 for num in numbers if num > 0])
    return positives, negatives
  
positives, negatives = count_positives_and_negatives(numbers)  
  
print("Positive Numbers:", positive_numbers)  
print("Number of Positives:", positives)  
print("Number of Negatives:", negatives)

Positive Numbers: [15, 25, 30, 40]
Number of Positives: 4
Number of Negatives: 3

### Challenge 4: The Alphabetical Ascension  
  
**Scenario:**  
  
Your final challenge leads you to the towering Alphabetical Mountain, where the names of students from the nearby village are inscribed in a chaotic manner. The village elder, Sage Lexicon, requests your assistance in organizing these names.  
  
**Tasks:**  
  
- **Sort Names:** Use your magic to sort the names alphabetically.  
  
**Bonus Task:**  
  
- **Sort by Last Name:** If the names include both first and last names, sort them by their last names to bring true order to the names.
- **Sort by both Last Name & First Name** If the names include both first and last names, sort them by their first names first and then their last names

In [34]:
# Sample Data

student_names = ["Alice Johnson", "Bob Smith", "Charlie Brown", "David Brown", "Eve Davis",  "Charles Smith", "Bob Johnson"]

In [71]:
sorted_names = sorted(student_names)
  
# Bonus Task: Sort by Last Name  
sorted_by_last_name = [names.split() for names in student_names ]
  
print("Sorted Names:", sorted_names)  
print("Sorted by Last Name:", sorted_by_last_name)

Sorted Names: ['Alice Johnson', 'Bob Johnson', 'Bob Smith', 'Charles Smith', 'Charlie Brown', 'David Brown', 'Eve Davis']
Sorted by Last Name: [['Alice', 'Johnson'], ['Bob', 'Smith'], ['Charlie', 'Brown'], ['David', 'Brown'], ['Eve', 'Davis'], ['Charles', 'Smith'], ['Bob', 'Johnson']]

In [72]:
student_names = ["Alice Johnson", "Bob Smith", "Charlie Brown", "David Brown", "Eve Davis",  "Charles Smith", "Bob Johnson"]  
sorted_by_last_name = sorted(student_names, key = lambda name:name.split()[-1])
sorted_by_last_name

['Charlie Brown',
 'David Brown',
 'Eve Davis',
 'Alice Johnson',
 'Bob Johnson',
 'Bob Smith',
 'Charles Smith']

In [77]:
# Bonus Task 2: Sort by Last Name  & First Name
sorted_by_both = sorted(student_names, key = lambda name: (name.split()[0],name.split()[-1]))

print("Sorted Names:", sorted_names)  
print("Sorted by Last Name:", sorted_by_last_name)
print("Sorted by both:", sorted_by_both)

Sorted Names: ['Alice Johnson', 'Bob Johnson', 'Bob Smith', 'Charles Smith', 'Charlie Brown', 'David Brown', 'Eve Davis']
Sorted by Last Name: ['Charlie Brown', 'David Brown', 'Eve Davis', 'Alice Johnson', 'Bob Johnson', 'Bob Smith', 'Charles Smith']
Sorted by both: ['Alice Johnson', 'Bob Johnson', 'Bob Smith', 'Charles Smith', 'Charlie Brown', 'David Brown', 'Eve Davis']

### II. Tuples

  
### Challenge 1: Course Enrollment  
  
**Scenario:**  
  
You find yourself at the Academy of Learning, where courses need to be managed meticulously. Each course has a unique identifier, a list of enrolled students, and their corresponding grades. The head tutor, Professor Tupleton, seeks your help to manage this data efficiently.  
  
**Tasks:**  
  
- **Create Course Tuple:** Construct a tuple for a course containing its identifier, a list of enrolled students, and their grades.  
- **Display Course Information:** Reveal the course information, including the average grade of the students.  
- **Identify Top Student:** Find and display the student with the highest grade in the course.  
- **Update Student Grade:** Change the grade of a specific student and show the updated course information.  
  
**Bonus Task:**  
  
- **Add New Student:** Add a new student to the course along with their grade and display the updated course information.

In [7]:
# 1. Create Course Tuple:

course = ("CS101", [("Alice", 90), ("Bob", 85), ("Charlie", 92)])

In [17]:
# 2. Display Course Information

def display_course_info(course):  
    course_name , students = course
    print(f"Course name is {course_name}")
    for names, scores in students:
        print(f"Students name is {names} | Grades {scores}")
  
display_course_info(course)

Course name is CS101
Students name is Alice | Grades 90
Students name is Bob | Grades 88
Students name is Charlie | Grades 92

In [19]:
# 3. Identify top score

def identify_top_scorer(course):  
    course_name , students = course
    return max([score for name,score in students])
    
  
identify_top_scorer(course)

92

In [21]:
print(course)

('CS101', [('Alice', 90), ('Bob', 88), ('Charlie', 92)])

In [23]:
# 4. Update Student Grade

def update_student_grade(course, student_name, new_grade):  
    course_name, students = course
    print(f"Course name is {course_name}")
    for i, (names, scores) in enumerate(students):
        if names == student_name:
            students[i] = (names, new_grade)
        print(f"Student name is {names} | Grade is {scores}")
    return (course_name, students)
        
  
course = update_student_grade(course, "Bob", 88)  
display_course_info(course)

Course name is CS101
Student name is Alice | Grade is 90
Student name is Bob | Grade is 88
Student name is Charlie | Grade is 92
Course name is CS101
Students name is Alice | Grades 90
Students name is Bob | Grades 88
Students name is Charlie | Grades 92

In [29]:
def update_grade(course, student_name, new_grade):
    Course, students = course
    for i, (name, grade) in enumerate(students):
        if name == student_name:
            students[i] = (name, new_grade)
    return (Course, students)
        

course = update_grade(course, "Bob", 90)
print(course)

('CS101', [('Alice', 90), ('Bob', 90), ('Charlie', 92), ('David', 91)])

In [27]:
# Bonus Task:

# 5. Add New Student:

def add_new_student(course, student_name, grade):  
    course_name, students =  course
    print(f"Course name is {course_name}")
    students.append((student_name,grade))
    for names, scores in students:
        print(f"Students name is {names} | Grades {scores}")
    return (course_name, students)
  
course = add_new_student(course, "David", 91)  
display_course_info(course) 
print(course)

Course name is CS101
Students name is Alice | Grades 90
Students name is Bob | Grades 88
Students name is Charlie | Grades 92
Students name is David | Grades 91
Course name is CS101
Students name is Alice | Grades 90
Students name is Bob | Grades 88
Students name is Charlie | Grades 92
Students name is David | Grades 91
('CS101', [('Alice', 90), ('Bob', 88), ('Charlie', 92), ('David', 91)])

### Challenge 2: Filtered Student Information  
  
**Scenario:**  
  
In the bustling city of Tupleopolis, you encounter a school administrator who needs to manage student records. You have a list of student names, their ages, and their grades. The administrator asks for your assistance in filtering and displaying specific student information.  
  
**Tasks:**  
  
- **Create Student Tuples:** Form a list of tuples where each tuple contains a student's name, age, and grade.  
- **Display Student Tuples:** Present the list of student tuples.  
- **Filter by Age:** Filter and display only the information of students who are above a certain age.  
  
**Bonus Task:**  
  
- **Find Top Scorer:** Identify and display the student with the highest grade among those above the specified age.

In [31]:
# 1.  Create Student Tuples:

students = [("Alice", 20, 90), ("Bob", 19, 85), ("Charlie", 22, 92), ("David", 18, 98)]  
 
# 2. Display Student Tuples:

def display_students(students):  
    for (name, age, grade) in students:
        print(f"Student name is {name} | Age is {age} | Grade is {grade}")
  
display_students(students)

Student name is Alice | Age is 20 | Grade is 90
Student name is Bob | Age is 19 | Grade is 85
Student name is Charlie | Age is 22 | Grade is 92
Student name is David | Age is 18 | Grade is 98

In [51]:
 # 3. Filter by Age:
filtered_students = []
def filter_by_age(students, age_threshold):  
    for (name, age, grade) in students:
        if age >= age_threshold:
             #print(f"Student name is {name} | Age is {age} | Grade is {grade}") 
             filtered_students.append((name,age,grade))
    return filtered_students
  
filtered_students = filter_by_age(students, 20)  
display_students(filtered_students)

Student name is Alice | Age is 20 | Grade is 90
Student name is Charlie | Age is 22 | Grade is 92

In [59]:
# Bonus Task:

# 4. Find Top Scorer:

def find_top_scorer(students): 
    max_grade = 0
    for (name, age, grade) in students:
        if grade > max_grade:
            max_grade = grade
    print(f"Student name {name} with maximum grade {grade}")
        
  
find_top_scorer(filtered_students)

Student name Charlie with maximum grade 92

### Challenge 3: Employee Salary Calculation  
  
**Scenario:**  
  
As you journey through the industrious region of Salaryville, you meet a factory manager in need of help with payroll. Each employee is represented as a tuple containing their name, hourly rate, and hours worked. The manager seeks your expertise to calculate salaries and analyze payroll data.  
  
**Tasks:**  
  
- **Calculate Salaries:** Compute and display the total salary for each employee.  
- **Identify Top Earner:** Find and display the employee with the highest total salary.  
- **Average Salary:** Calculate and show the average total salary of all employees.  
  
**Bonus Task:**  
  
- **Overtime Calculation:** Identify employees who worked more than 40 hours and calculate their overtime pay (1.5 times the hourly rate for hours over 40).

In [2]:
# Sample Data

employees = [("Alice", 15, 40), ("Bob", 20, 45), ("Charlie", 25, 35)]

In [3]:
# 1. Calculate Salaries

def calculate_salaries(employees):  
    return [(val[0], val[1]*val[2]) for val in employees]

salaries = calculate_salaries(employees)  
for name, salary in salaries:  
    print(f"Employee: {name}, Total Salary: ${salary:.2f}")

Employee: Alice, Total Salary: $600.00
Employee: Bob, Total Salary: $900.00
Employee: Charlie, Total Salary: $875.00

In [4]:
# 2. Identify Top Earner:


def identify_top_earner(salaries):  
    max_sal = 0
    for (employee, salary) in salaries:
        if salary >= max_sal:
            max_sal = salary
    print(f"Employee '{employee}' having max salary ${max_sal:.2f}")
  
identify_top_earner(salaries)

Employee 'Charlie' having max salary $900.00

In [5]:
salaries

[('Alice', 600), ('Bob', 900), ('Charlie', 875)]

In [6]:
# 3. Average Salary:


def average_salary(salaries):  
    return sum([salary for employee, salary in salaries ]) / len(salaries)

average_salary(salaries)

791.6666666666666

In [7]:
employees

[('Alice', 15, 40), ('Bob', 20, 45), ('Charlie', 25, 35)]

In [8]:
# Bonus Task:

# 4. Overtime Calculation:


def calculate_overtime(employees):  
    employee_ot = []
    for (name, pay, hours) in employees:
        if hours > 40:
            overtime = hours - 40
            salary = pay*(hours-overtime) + overtime*1.5*pay
            employee_ot.append((name, salary))
            return employee_ot
  
overtime_salaries = calculate_overtime(employees)  
for name, salary in overtime_salaries:  
    print(f"Employee: {name}, Total Salary with Overtime: ${salary:.2f}")

Employee: Bob, Total Salary with Overtime: $950.00

### Challenge 4: Student Grade Book  
  
**Scenario:**  
  
In the scholarly village of Gradeton, you are presented with a dictionary where the keys are student names and the values are tuples containing their scores in three different subjects. The village scribe, Ms. Ledger, needs your help to manage and analyze this grade book.  
  
**Tasks:**  
  
- **Display Student Averages:** Show the student names along with their average scores.  
- **Identify Top Student:** Find and display the student with the highest average score.  
- **Subject Averages:** Compute and display the average scores for each subject.  
  
**Bonus Task:**  
  
- **Subject Top Scorer:** Identify and display the top scorer for each subject.

In [ ]:
# Sample Data

grade_book = {  
    "Alice": (90, 85, 88),  
    "Bob": (78, 82, 80),  
    "Charlie": (92, 90, 95)  
}  

grade_book

In [ ]:
# 1. Display Average

def display_student_averages(grade_book):  
    pass
  
display_student_averages(grade_book)

In [ ]:
# 2. Identify Top Student:


def identify_top_student(grade_book):  
    pass
  
identify_top_student(grade_book)

In [ ]:
# 3. Subject Averages:


def subject_averages(grade_book):  
    pass
  
subject_averages(grade_book)

In [ ]:
# Bonus Task:

# 4. Subject Top Scorer:


def subject_top_scorer(grade_book):  
    pass

subject_top_scorer(grade_book)

> Congratulations, Data Wizard! You have completed your quest and proven your mastery over the mystical arts of ordered data types of Python programming. You have brought order to the chaotic land!